

@font-face {
    font-family: "Bahnschrift";
    font-style: normal;
    font-weight: normal;
    src:  url('../bastards-theme/font/BAHNSCHRIFT\ 8.TTF') format('truetype'),
}
$font: 'Bahnschrift';

$breakpoint-small: '576px';
$breakpoint-tablet: '768px';
$breakpoint-desktop: '992px';
html {
    margin: 0px !important;
}
#primary {
    padding-top: 80px;
}
body {
    font-family: $font;
}
a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition:    color 0.5s;
    -ms-transition:     color 0.5s;
    -o-transition:      color 0.5s;
    transition:         color 0.5s;
}
a:hover {
    color: #969696;
}
ul {
    list-style: none;
    margin-block-start: 0em !important;
    padding-inline-start: 0px !important;
}


header {
    height: 80px; 
    z-index: 10;
    .navbar-brand img {
        width: 50%;
        @media(max-width: $breakpoint-tablet) {
            width: 80%;
        }  
    }
    .screen-menu {
        display: block;
        @media(max-width: $breakpoint-desktop) {
            display: none;
        }
        .primary-menu {
            display: flex;
            margin-bottom: 0px !important;
            padding-left: 0px !important;

            li a {
                text-transform: lowercase;
                font-size: 20px;
                padding-right: 25px;
                @media(max-width: 1200px) {
                    padding-right: 15px;
                }
                &:not(:first-child) {
                    padding-left: 20px;
                }
            }
        }
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        @media(min-width: $breakpoint-desktop) {
            display: none;
        }
    }
    .menuToggle {
        display: none;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    @media (max-width: $breakpoint-desktop) {
        .nav-menu {
            position: fixed;
            left: -100%;
            flex-direction: column;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            text-align: left;
            transition: 0.3s;
            top: 0;
            display: flex;
            justify-content: flex-end;
            &.active {
                left: 0;
            }
            li {
                padding-left: 20px;
                &:last-child {
                    padding-bottom: 200px; 
                }
                a {
                    font-size: 40px;
                    text-transform: lowercase;
                }
            }
        }
        .menuToggle {
            display: block;
            cursor: pointer;
        }
    
    }
    .menuToggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menuToggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menuToggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menuToggle {
        position: relative;
        outline: none;
        height: 30px;
        width: 30px;
        border: 0px;
        padding: 0px;
        background: transparent;
        transition: all 250ms ease-out;
        cursor: pointer;     
        display: none;
        z-index: 5;
        @media (max-width: $breakpoint-desktop) {
            display: inline;
        }
        &:before, &:after {
            content: '';
            width: 25px;
            height: 3px;
            position: absolute;
            background: #1a1a1a;
            transition: all 250ms ease-out;
            will-change: transform;
            left: 0;
        }
    
        &:before {
            transform: translateY(-5px);
        }
    
        &:after {
            transform: translateY(5px);
        }
    }
    // line transition
    .active.menuToggle:before {
        transform: translateY(0) rotate(45deg);
    }

    .active.menuToggle:after {
        transform: translateY(0) rotate(-45deg);
    } 
   
    
}


.hero-div-pic {
    position: relative;

    .hero-text-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .hero-text {
            font-size: 35px;
            font-weight: 400;
            text-transform: uppercase;
            white-space: normal;
            color: white;
            letter-spacing: 4px;
            text-align: center;
            @media(max-width: $breakpoint-desktop) {
                font-size: 20px;
                text-align: left;
                padding-left: 10px;
                line-height: 1;
            }
        }
    }
    video {
        height: 100vh;
        width: 100%;
        object-fit: cover;

    }

}
.hero-arrow-container {
    height: 70vh;
    position: relative;
    width: 100%;
    .arrow-hero {
        position: absolute;
        bottom: 0;
        right: 120px;
        @media(max-width: $breakpoint-tablet) {
            right: 40px;
        }
    }
}
.button-class {
    font-size: 15px;
    color: black;
    outline: none;
    border-right: 2px solid black;
    background-color: transparent;
    padding: 3px 10px 0px 0px;
}
.coming-soon-header {
    font-family: $font, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.uagb-column__inner-wrap {
    padding: 0px !important;
    
}
.bottom-position .uagb-column__inner-wrap {
    position: absolute;
    bottom: 0;
    width: auto;
}
.wp-block-video {
    margin: 0 !important;
}
/*about page*/
.about {
    height: 70vh;
    &.about-blog {
        height: 250px;
        @media(max-width: $breakpoint-desktop) {
            height: 180px;
        }
    }
    .about-hero-header {
        color: black;
        font-size: 50px;
        line-height: 1.2;
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        padding-left: 25px;
        width: inherit;
        padding-right: 50px;
        @media(max-width: $breakpoint-desktop) {
            font-size: 40px;
        }
    }
    .blog-text {
        height: 100%;
        display: flex;
        align-items:flex-end;
        .blog {
            position: relative;
            padding-right: 0;
            text-align: left;
            padding-left: 0;
            line-height: 0.7;
            margin-bottom: 0;
            width: auto;
            text-transform: none;
            @media(max-width: $breakpoint-small) {
                line-height: 1;
            }
        }

    }
    .hero-arrow-container {
        height: 20vh;
        display: flex;
        align-items: center;
        &.blog-arrow {
            justify-content: flex-start;
            height: 100%;
            align-items:flex-end;
        }
        .arrow-hero {
            position: initial;
        }
    }
    video {
        height: 50vh;
    }
}
/*blog page wrapper*/
.blog-wrapper {
    margin-top: 60px;
    .entry-header {
        margin: 20px 0 30px 0px;
        .entry-title {
            font-size:38px;
            font-weight: bold;
            text-transform: lowercase;
        }
    }
}
footer {
    background-color: #ededed;
    height: 700px;
    margin-top: 250px;
    @media(max-width: $breakpoint-small) {
        height: 1000px;
    }
    h5 {
        position: relative;
        margin-top: 40px;
        margin-bottom: 20px;
        color: #000;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        @media(max-width: $breakpoint-tablet) {
            margin-top: 0px;
        }
    }
    a {
        color: #000;
        font-size: 17px;
        text-transform: lowercase;
    }
    .p-copyright {
        font-size: 14px;
        margin-top: 150px;
    }
}
/* measure page*/
.measure-row {
    height: 300px;
    display: grid;
    padding-top: 80px;
    grid-template-columns: 1fr 1fr;
    .measure-text {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 40px;
        .measure-hero-header {
            font-size: 45px;
            font-weight: bold;
            color: #000;
        }
    }
    
}
.measure-pic {
    .measure-div-pic {
    background-color: #ededed;
        img {
            object-fit: cover;
        }
    }
    .measure-div-text {
        padding-left: 40px;
        position: relative;
        p {
            line-height: 1.2;
            position: absolute;
            bottom: 0;
        }
    }
}
/*regular page*/
.page-class {
    padding-top: 220px;
    display: flex;
    justify-content: center;
    h2 {
        margin-bottom: 20px;
        font-size: 32px;
    }
    .policy-header-divider {
        width: 30px;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 5px;
        background-color: #000;
    }
    p {
        margin-block-start: 0px !important;
    }
    /*contact-form*/
    h2.contact-heading {
        margin-bottom: 40px;
        color: #000;
        font-size: 50px;
        font-weight: bold;
    }
    .wp-block-contact-form-7-contact-form-selector {
        max-width: 800px;
        width: 100%;
        p {
            margin-bottom: 0px;
        }
        p input, p textarea {
            width: 100%;
            padding: 8px 0px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333333;
            background-color: #ffffff;
            border: none;
            border-bottom: 2px solid black;
            outline: none;
        }
        p input {
            height: 38px;
        }
        p textarea {
            min-height: 60px;
            height: auto;
        }
        label {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
        }
        input.wpcf7-submit {
            width: auto;
            margin-top: 20px;
            margin-left: 0px;
            padding: 3px 12px;
            border-bottom: none;
            border-right: 2px solid #000;
            -webkit-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            text-transform: uppercase;
            height: auto;
        }
    }
    .subscribe-form {
        /*subscribe form*/
        h2.subscribe-heading {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
        }
        p {
            font-size: 15px;
        }
        input {
            margin-top: 35px;
            max-width: 350px;
        }
    }

}

/*shop page- wear*/
.shop-page {
    .shop-hero-header {
        bottom: 0;
        position: absolute;
        margin-bottom: 0;
        line-height: 0.7;
        font-weight: bold;
        font-size: 50px;
        color: black;
        @media(max-width: $breakpoint-desktop) {
            font-size: 30px;
            line-height: 1;
        }
    }
    .hero-arrow-container {
        height: 250px;
        display: flex;
        justify-content: center;
        @media(max-width: $breakpoint-tablet) {
            height:120px;
        }
        .arrow-hero {
            right: auto;
        }
    }
    .category-name {
        width: 25%;
        margin-bottom: 40px;
        border-bottom: 2px solid #000;
        color: #000;
        font-size: 25px;
        line-height: 1.2;
        font-weight: bold;
        float: right;
        text-align: right;
        text-transform: lowercase;
        @media(max-width: $breakpoint-tablet) {
            width: 50%;
        }
    }
    .product-shop {
        display: flex;
        justify-content: space-between;
        color: #000;
        @media(max-width: $breakpoint-tablet) {
            display: block;
        }
        .product-title {
            font-size: 24px;
            line-height: 1.2;
            font-weight: bold;
        }
        .product-price {
            font-size: 19px;
        }

    }
    ul.products li.product {
        width: 48%;
        @media(max-width: $breakpoint-tablet) {
            width: 100% !important;
        }
    }
    
    .buy-now {
        float:right;
    }
    .ajax_add_to_cart {
        position: absolute !important;
        right: 0;
        margin-right: 100px !important;
    }
    .product_type_variable.add_to_cart_button {
        position: absolute;
        right: 0;
    }
    .buy-now, .ajax_add_to_cart, .product_type_variable.add_to_cart_button {
        height: 28px;
        border-right: 2px solid black !important;
        color: black !important;
        background: transparent !important;
        text-transform: uppercase;
        font-size: 14px !important;
        border-radius: 0 !important;
        font-weight: 400 !important;
    }
  
}
/*added to cart text removed*/
.added_to_cart, button.added::after  {
    display: none !important;
}
/*side cart button*/
.xoo-wsc-basket {
    top: 35px;
    height: 50px;
    box-shadow: none;
    background-color: transparent;
    z-index: 5;
    .xoo-wsc-icon-basket1::before {
        content: "";
    }
    img {
        width: 22px;
        height: 32px;
    }
    .xoo-wsc-items-count {
        top: 0;
        left: 25px;
        background-color: transparent;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
   
}
/*opened side cart*/
.xoo-wsch-basket {
    display: none !important;
}
.xoo-wsc-container, .xoo-wsc-slider {
    max-width: 480px;
    right: -480px;
    .delete-product-cart {
        color: #9c9c9c;
        font-weight: 400;
    }
    .xoo-wsc-pname a {
        font-size: 14px;
    }
    .xoo-wsc-product {
        border-bottom: none;
    }
}
.xoo-wsc-cart-active .xoo-wsc-basket {
    right: 0px;
}
.xoo-wsc-header {
    height: 200px;
    z-index: 6;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    .xoo-wsch-text {
        position: absolute;
        left: 0;
        padding-left: 15px;
        font-size: 22px;
        font-weight: bold;
    }
    span.xoo-wsch-close {
        font-size: 22px;
    }
}
/*side cart footer*/
.xoo-wsc-footer {
    border-top: 1px solid black;
    .xoo-wsc-ft-amt .xoo-wsc-ft-amt-subtotal {
        display: flex;
    }
    .xoo-wsc-ft-amt-label {
        font-weight: 400;
        font-size: 14px;
        &::after {
            content: "";
        }
    }
   
}
/*empty cart style*/
.xoo-wsc-empty-cart .button, .xoo-wsc-ft-buttons-cont .xoo-wsc-ft-btn {
    text-transform: uppercase;
    background: black !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border-radius: 0 !important;
    height: 30px;
    color: white !important;
    padding-top: 10px !important;
}
/*product page*/
/*gallery*/
#gallery-wrapper {
    height: 80vh;
    .swiper-container-gallery {
        width: 100%;
        height: 100%;
        position: relative;
        .swiper-wrapper {
            width: 90%;
            .swiper-slide, .swiper-slide-active {
                width: 100% !important;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .sh-gal-btn {
            width: 10%;
            height: 100%;
            right: 0;
            position: absolute;
            z-index: 5;
            outline: none !important;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                background-repeat: no-repeat;
                background-size: 100%;
                width: 45px;
            }
        }
        .swiper-pagination-bullet {
            background-color: white;
            width: 12px;
            height: 12px;
        }
    }

    .sh-gal-swiper {
        overflow: hidden;
    }
}
/*title*/
.product-sum {
    .product_title {
        color: black;
        line-height: 1.2;
        font-size: 38px;
        font-weight: bold;
    }
    .price bdi {
        color: black;
        font-size: 25px;
    }
 
}

.select2-container {
    padding-top: 30px;

    .select2-selection {
        background-color: white !important;
        border: 2px solid rgb(251, 201, 191) !important;
        border-radius: 0px;
        font-variant: small-caps;
        letter-spacing: 0.1em;
        text-transform: lowercase;
        height: 30px !important;
        padding: 4px;
        outline: none;
        /* text-decoration: underline; */
    }
    

}

.select2-selection__arrow b {
    /* margin-top: 1px !important;
    border-color: rgb(177, 67, 79) transparent transparent transparent !important;
    border-width: 6px 4px 0 4px !important; */
    display: none;

}
.sh-product-select .select2-results {
    border-left: 2px solid rgb(251, 201, 191);
    border-right: 2px solid rgb(251, 201, 191);
    border-bottom: 2px solid rgb(251, 201, 191);
}

.sh-product-select .select2-results__option {
    background-color: white !important;
    color: black !important;
    height: 30px !important;
    padding: 8px;
    font-family: neutraface2-book;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.1em;
}

.sh-product-select .select2-results__option:hover {
    background-color:  rgb(251, 201, 191) !important;
} 

#pa_fabric {
    display: none;
} 
#pa_colour {
    display: none;
} 

select {
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMy4yNDUgNGwtMTEuMjQ1IDE0LjM3NC0xMS4yMTktMTQuMzc0LS43ODEuNjE5IDEyIDE1LjM4MSAxMi0xNS4zOTEtLjc1NS0uNjA5eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    color: rgb(251, 201, 191);
    width: 100%;
    background-color: transparent !important;
    color: black;
    border: 2px solid rgb(251, 201, 191);
}