@font-face {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: normal;
  src: url("../bastards-theme/font/BAHNSCHRIFT 8.TTF") format("truetype");
}
html {
  margin: 0px !important;
}

#primary {
  padding-top: 80px;
}

/*used on columns in back-end editor*/
.padding-0 {
  padding: 0;
}

/*padding left on large screens*/
@media (min-width: 1200px) {
  .ps-6 {
    padding-left: 6.5rem !important;
  }
}
/*margin top on front page*/
.mt-6 {
  margin-top: 80px;
}

.right-0-img .wp-block-image {
  display: flex;
  justify-content: flex-end;
  max-height: 80vh;
}
.right-0-img .wp-block-image img {
  object-fit: cover;
}

.left-0-img .wp-block-image {
  display: flex;
  justify-content: flex-start;
  max-height: 80vh;
}
.left-0-img .wp-block-image img {
  object-fit: cover;
}

p {
  line-height: 1.2;
  text-align: justify;
}

body {
  font-family: "Bahnschrift";
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  color: #969696;
}

ul {
  list-style: none;
  margin-block-start: 0em !important;
  padding-inline-start: 0px !important;
}

header {
  height: 80px;
  z-index: 10;
}
header .navbar-brand img {
  width: 50%;
}
@media (max-width: 768px) {
  header .navbar-brand img {
    width: 80%;
  }
}
header .screen-menu {
  display: block;
}
@media (max-width: 992px) {
  header .screen-menu {
    display: none;
  }
}
header .screen-menu .primary-menu {
  display: flex;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}
header .screen-menu .primary-menu li a {
  text-transform: lowercase;
  font-size: 20px;
  padding-right: 25px;
}
@media (max-width: 1200px) {
  header .screen-menu .primary-menu li a {
    padding-right: 15px;
  }
}
header .screen-menu .primary-menu li a:not(:first-child) {
  padding-left: 20px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
@media (min-width: 992px) {
  header .navbar {
    display: none;
  }
}
header .menuToggle {
  display: none;
}
header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media (max-width: 992px) {
  header .nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
    top: 0;
    display: flex;
    justify-content: flex-end;
  }
  header .nav-menu.active {
    left: 0;
  }
  header .nav-menu li {
    padding-left: 20px;
  }
  header .nav-menu li:last-child {
    padding-bottom: 200px;
  }
  header .nav-menu li a {
    font-size: 40px;
    text-transform: lowercase;
  }
  header .menuToggle {
    display: block;
    cursor: pointer;
  }
}
header .menuToggle.active .bar:nth-child(2) {
  opacity: 0;
}
header .menuToggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header .menuToggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header .menuToggle {
  position: relative;
  outline: none;
  height: 30px;
  width: 30px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
  display: none;
  z-index: 5;
}
@media (max-width: 992px) {
  header .menuToggle {
    display: inline;
  }
}
header .menuToggle:before, header .menuToggle:after {
  content: "";
  width: 25px;
  height: 3px;
  position: absolute;
  background: #1a1a1a;
  transition: all 250ms ease-out;
  will-change: transform;
  left: 0;
}
header .menuToggle:before {
  transform: translateY(-5px);
}
header .menuToggle:after {
  transform: translateY(5px);
}
header .active.menuToggle:before {
  transform: translateY(0) rotate(45deg);
}
header .active.menuToggle:after {
  transform: translateY(0) rotate(-45deg);
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

.hero-div-pic {
  position: relative;
}
.hero-div-pic .hero-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-div-pic .hero-text-container .hero-text {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: normal;
  color: white;
  letter-spacing: 4px;
  text-align: center;
}
@media (max-width: 992px) {
  .hero-div-pic .hero-text-container .hero-text {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    line-height: 1;
    margin-top: -30px;
  }
}
.hero-div-pic video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero-arrow-container {
  height: 80vh;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .hero-arrow-container {
    height: 70vh;
  }
}
.hero-arrow-container .arrow-hero {
  position: absolute;
  bottom: 0;
  right: 40px;
}
@media (max-width: 768px) {
  .hero-arrow-container .arrow-hero {
    right: 20px;
  }
}

.button-class {
  font-size: 15px;
  color: black;
  outline: none;
  border: none;
  border-radius: 0px;
  border-right: 2px solid black;
  background-color: transparent;
  padding: 3px 10px 0px 0px;
  transition: opacity 200ms ease;
}
.button-class:hover {
  background-color: transparent;
  border-color: black;
  color: black;
  opacity: 0.5;
}

.coming-soon-header {
  font-family: "Bahnschrift", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.uagb-column__inner-wrap {
  padding: 0px !important;
}

.wp-block-video {
  margin: 0 !important;
}

/*front page, image block with text*/
.right-text-image .wp-block-cover__inner-container {
  position: absolute;
  bottom: 40px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .right-text-image .wp-block-cover__inner-container {
    padding-right: 20px;
  }
}

.column-height .wp-block-image {
  height: 500px !important;
}
.column-height .wp-block-image img {
  object-fit: cover !important;
}

.column-height-blog .uagb-column__inner-wrap {
  height: 500px !important;
}

.left-text-image .wp-block-cover__inner-container {
  position: absolute;
  bottom: 40px;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .left-text-image .wp-block-cover__inner-container {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .left-text-image .wp-block-cover__inner-container h2 {
    font-size: 30px !important;
    line-height: 1;
  }
}
.left-text-image .wp-block-cover__inner-container a.btn-primary {
  color: white !important;
  border-right: 1px solid white !important;
}

.wp-block-cover .wp-block-cover__inner-container h2 {
  margin-bottom: 0px !important;
}

/*front page slider*/
.eedee-gutenslider-prev {
  display: none !important;
}

.wp-block-eedee-block-gutenslider.arrow-position-sides .eedee-gutenslider-next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../bastards-theme/assets/bastards-arrow-right.png") !important;
  background-size: 100% !important;
  right: 50px !important;
}
@media (max-width: 1200px) {
  .wp-block-eedee-block-gutenslider.arrow-position-sides .eedee-gutenslider-next {
    right: 0px !important;
    width: 40px;
    height: 40px;
  }
}
.wp-block-eedee-block-gutenslider.arrow-position-sides .eedee-gutenslider-next svg {
  display: none;
}

.wp-block-eedee-block-gutenslider .wp-block-eedee-block-gutenslide .eedee-background-div {
  width: 90% !important;
}

/*100$ height of images*/
.wp-block-image.size-full {
  height: 100%;
}
.wp-block-image.size-full img {
  height: 100%;
}

/*front-page g-hook section*/
.g-hook {
  display: flex;
  align-items: flex-end;
}
.g-hook p {
  text-align: justify;
}

/*buy-now CHILL SPOT section, button, button for how to measure*/
.homepage-button, .wc-backward {
  height: 28px;
  border: none;
  border-right: 2px solid black !important;
  color: black !important;
  background: transparent !important;
  text-transform: uppercase;
  font-size: 14px !important;
  border-radius: 0 !important;
  margin-right: 0px !important;
  padding-left: 0px;
  font-weight: 400 !important;
  transition: opacity 200ms ease;
}
.homepage-button:hover, .wc-backward:hover {
  opacity: 0.5;
}

/*align-button right in container*/
.align-button-right .wp-bootstrap-blocks-button.text-right {
  display: flex;
  justify-content: flex-end;
}

/*front page mailer lite form*/
.mailerlite-form h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.mailerlite-form label {
  display: none !important;
}
.mailerlite-form input#mailerlite-1-field-email {
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
}
@media (min-width: 576px) and (max-width: 1200px) {
  .mailerlite-form input#mailerlite-1-field-email {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .mailerlite-form input#mailerlite-1-field-email {
    width: 100%;
  }
}
.mailerlite-form input#mailerlite-1-field-email.error {
  color: black;
  border-color: transparent;
  border-bottom: 2px solid black;
}
.mailerlite-form input#mailerlite-1-field-email::-webkit-input-placeholder {
  color: transparent;
}
.mailerlite-form .mailerlite-subscribe-button-container {
  display: flex;
  justify-content: baseline;
}
.mailerlite-form .mailerlite-subscribe-button-container input {
  padding: 5px 10px 2px 0px;
  border: none;
  border-right: 2px solid black;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  transition: opacity 200ms ease;
}
.mailerlite-form .mailerlite-subscribe-button-container input:hover {
  opacity: 0.5;
}

/*about page*/
.about {
  margin-top: 80px;
}
.about.hero-section {
  height: 770px;
}
@media (min-width: 992px) {
  .about.hero-section {
    height: 740px;
  }
}
.about.about-blog {
  height: 250px;
}
@media (max-width: 992px) {
  .about.about-blog {
    height: 180px;
  }
}
.about .about-hero-header {
  color: black;
  font-size: 50px;
  line-height: 1.2;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding-left: 25px;
  width: inherit;
  padding-right: 50px;
  margin-bottom: 0px;
}
@media (max-width: 576px) {
  .about .about-hero-header {
    font-size: 28px;
    padding-right: 20px;
    bottom: 32px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .about .about-hero-header {
    bottom: 20px;
  }
}
@media (min-width: 992px) {
  .about .about-hero-header {
    bottom: 50px;
  }
}
.about .blog-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.about .blog-text .blog {
  position: relative;
  padding-right: 0;
  text-align: left;
  padding-left: 0;
  line-height: 0.7;
  margin-bottom: 0;
  width: auto;
  text-transform: none;
}
@media (max-width: 576px) {
  .about .blog-text .blog {
    line-height: 1;
  }
}
.about .about-video p {
  margin-top: 70px;
  font-size: 25px;
}
@media (max-width: 768px) {
  .about .about-video p {
    font-size: 15px;
  }
}
.about .about-video .hero-arrow-container {
  height: 200px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .about .about-video .hero-arrow-container {
    height: 200px;
  }
}
.about .about-video .hero-arrow-container.blog-arrow {
  justify-content: flex-start;
  height: 100%;
  align-items: flex-end;
}
.about .about-video .hero-arrow-container .arrow-hero {
  position: initial;
}
.about .about-video video {
  height: 50vh;
}

/*blog page wrapper*/
.hero-blog-arrow {
  position: relative;
}

.blog-wrapper {
  margin-top: 60px;
}
.blog-wrapper .entry-header {
  margin: 20px 0 70px 0px;
}
.blog-wrapper .entry-header .entry-title {
  font-size: 38px;
  font-weight: bold;
  text-transform: lowercase;
}
.blog-wrapper img {
  width: -webkit-fill-available;
  height: auto;
}

footer {
  background-color: #ededed;
  height: 700px;
  margin-top: 250px;
}
@media (max-width: 576px) {
  footer {
    height: 1100px;
  }
}
footer h5 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 768px) {
  footer h5 {
    margin-top: 0px;
  }
}
footer a {
  color: #000;
  font-size: 17px;
  text-transform: lowercase;
}
footer .copyright-section {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  footer .copyright-section {
    margin-top: 50px;
    position: relative;
  }
}
@media (max-width: 768px) {
  footer .copyright-section .stripe-footer {
    position: absolute;
    right: 15px;
    left: auto;
  }
}
@media (max-width: 768px) {
  footer .copyright-section .stripe-footer img {
    width: 140px;
  }
}
footer .copyright-section .p-copyright {
  font-size: 14px;
  margin-bottom: 0px !important;
}
@media (max-width: 768px) {
  footer .copyright-section .p-copyright {
    position: absolute;
    top: 30px;
    right: 15px;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/* measure page*/
.measure-div .measure-image-column .uagb-column__inner-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .measure-div .measure-image-column .uagb-column__inner-wrap {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .measure-div .uagb-columns__inner-wrap {
    height: 650px;
  }
}
.measure-div .uagb-columns__inner-wrap .measure-image figure {
  width: 60%;
}
@media (max-width: 425px) {
  .measure-div .uagb-columns__inner-wrap .measure-image figure {
    width: 90%;
  }
}

.align-bottom {
  position: flex;
  align-items: flex-end;
}

/*regular page*/
.contact-form-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.contact-form-wrapper .wpcf7 {
  width: 100%;
}

.homepage-form {
  display: flex;
  justify-content: center;
}
.homepage-form .mailerlite-form {
  width: 600px;
}
@media (max-width: 576px) {
  .homepage-form .mailerlite-form {
    width: 320px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .homepage-form .mailerlite-form {
    width: 540px;
  }
}

.page-class {
  padding-top: 200px;
  /*contact-form*/
}
.page-class h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
@media (max-width: 768px) {
  .page-class h2 {
    font-size: 25px !important;
  }
}
.page-class .policy-header-divider {
  width: 30px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #000;
}
.page-class p {
  margin-block-start: 0px !important;
}
.page-class h2.contact-heading {
  margin-bottom: 40px;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}
.page-class .wp-block-contact-form-7-contact-form-selector {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.page-class .wp-block-contact-form-7-contact-form-selector p {
  margin-bottom: 0px;
}
.page-class .wp-block-contact-form-7-contact-form-selector p input, .page-class .wp-block-contact-form-7-contact-form-selector p textarea {
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.page-class .wp-block-contact-form-7-contact-form-selector p input {
  height: 38px;
}
.page-class .wp-block-contact-form-7-contact-form-selector p textarea {
  min-height: 60px;
  height: auto;
}
.page-class .wp-block-contact-form-7-contact-form-selector label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.page-class .wp-block-contact-form-7-contact-form-selector input.wpcf7-submit {
  width: auto;
  margin-top: 20px;
  margin-left: 0px;
  padding: 3px 12px;
  border-bottom: none;
  border-right: 2px solid #000;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-transform: uppercase;
  height: auto;
}
.page-class .subscribe-form {
  /*subscribe form*/
}
.page-class .subscribe-form h2.subscribe-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
.page-class .subscribe-form p {
  font-size: 15px;
}
.page-class .subscribe-form input {
  margin-top: 35px;
  max-width: 350px;
}

/*logo page*/
.logo-wrapper div[class^=col] {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .logo-wrapper div[class^=col] {
    padding: 0 15px;
  }
}

.product-shop {
  display: flex;
  justify-content: space-between;
  color: #000;
}
@media (max-width: 768px) {
  .product-shop {
    display: block;
    text-align: left;
  }
}
.product-shop .product-title, .product-shop .wc-block-grid__product-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 576px) {
  .product-shop .product-title, .product-shop .wc-block-grid__product-title {
    font-size: 14px;
    margin: 0px;
  }
}
.product-shop .product-price {
  font-size: 19px;
  margin-right: 0px;
  font-weight: normal;
}
@media (max-width: 576px) {
  .product-shop .product-price {
    font-size: 14px;
  }
}

.wc-block-grid__product-add-to-cart {
  margin: 0 !important;
  display: flex;
  justify-content: end;
}
.wc-block-grid__product-add-to-cart .wp-block-button__link.add_to_cart_button {
  height: 28px;
  border-right: 2px solid black !important;
  color: black !important;
  background: transparent !important;
  text-transform: uppercase;
  font-size: 14px !important;
  border-radius: 0 !important;
  margin-right: 0px !important;
  font-weight: 400 !important;
  transition: opacity 200ms ease;
}
.wc-block-grid__product-add-to-cart .wp-block-button__link.add_to_cart_button:hover {
  opacity: 0.5;
}

/*product grid homepage*/
.products-homepage .wp-container-1 {
  justify-content: center;
}
.products-homepage .wp-bootstrap-blocks-container {
  padding: 0px;
}
.products-homepage .wp-block-button.wc-block-grid__product-add-to-cart {
  padding-bottom: 30px !important;
}

/*shop page- wear*/
.shop-page .shop-hero-header {
  bottom: 0;
  position: absolute;
  margin-bottom: 0;
  line-height: 0.7;
  font-weight: bold;
  font-size: 50px;
  color: black;
}
@media (max-width: 992px) {
  .shop-page .shop-hero-header {
    font-size: 35px;
    line-height: 1;
  }
}
.shop-page .hero-arrow-container {
  height: 250px;
  display: flex;
  justify-content: start;
}
@media (max-width: 768px) {
  .shop-page .hero-arrow-container {
    height: 120px;
  }
}
.shop-page .hero-arrow-container .arrow-hero {
  right: auto;
}
.shop-page .category-name {
  width: 25%;
  margin-bottom: 40px;
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  float: right;
  text-align: right;
  text-transform: lowercase;
}
@media (max-width: 768px) {
  .shop-page .category-name {
    width: 50%;
  }
}
.shop-page ul.products li.product {
  width: 48%;
  /*additional info - attributes*/
}
@media (max-width: 768px) {
  .shop-page ul.products li.product {
    width: 100% !important;
  }
}
.shop-page ul.products li.product .info-product {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.shop-page ul.products li.product .info-product .attributes-shop {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
}
.shop-page ul.products li.product .info-product .attributes-shop:nth-child(1) {
  border-left: 1px solid black;
}
.shop-page ul.products li.product .info-product .attributes-shop div {
  padding: 6px 14px 5px 14px;
  min-width: 30px;
  text-align: center;
  border-right: 1px solid black;
  font-size: 16px;
}
@media (max-width: 768px) {
  .shop-page ul.products li.product .info-product .attributes-shop div {
    padding: 5px 8px 4px 8px;
    font-size: 14px;
  }
}
.shop-page .buy-now {
  float: right;
}
@media (max-width: 768px) {
  .shop-page .buy-now {
    padding-right: 8px !important;
  }
}
.shop-page .ajax_add_to_cart {
  position: absolute !important;
  right: 0;
  margin-right: 100px !important;
}
.shop-page .product_type_variable.add_to_cart_button {
  position: absolute;
  right: 0;
}
.shop-page .buy-now, .shop-page .ajax_add_to_cart, .shop-page .product_type_variable.add_to_cart_button {
  height: 28px;
  border-right: 2px solid black !important;
  color: black !important;
  background: transparent !important;
  text-transform: uppercase;
  font-size: 14px !important;
  border-radius: 0 !important;
  font-weight: 400 !important;
}
.shop-page .woocommerce-pagination {
  display: none;
}

/*added to cart text removed*/
.added_to_cart, button.added::after {
  display: none !important;
}

/*side cart button*/
.xoo-wsc-basket {
  top: 3px;
  height: 50px;
  box-shadow: none;
  background-color: transparent;
  z-index: 5;
}
@media (max-width: 992px) {
  .xoo-wsc-basket {
    right: 50px;
  }
}
.xoo-wsc-basket .xoo-wsc-icon-basket1::before {
  content: "";
}
.xoo-wsc-basket img {
  width: 22px;
  height: 32px;
}
.xoo-wsc-basket .xoo-wsc-items-count {
  top: 0;
  left: 25px;
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/*opened side cart*/
.xoo-wsch-basket {
  display: none !important;
}

.xoo-wsc-container, .xoo-wsc-slider {
  max-width: 480px;
  right: -480px;
}
@media (max-width: 576px) {
  .xoo-wsc-container, .xoo-wsc-slider {
    width: 100%;
  }
}
.xoo-wsc-container .delete-product-cart, .xoo-wsc-slider .delete-product-cart {
  color: #9c9c9c;
  font-weight: 400;
}
.xoo-wsc-container .xoo-wsc-pname a, .xoo-wsc-slider .xoo-wsc-pname a {
  font-size: 14px;
}
.xoo-wsc-container .xoo-wsc-product, .xoo-wsc-slider .xoo-wsc-product {
  border-bottom: none;
}
.xoo-wsc-container .xoo-wsc-product img, .xoo-wsc-slider .xoo-wsc-product img {
  width: -webkit-fill-available;
  height: auto;
}

.xoo-wsc-cart-active .xoo-wsc-basket {
  right: 0px;
}

.xoo-wsc-header {
  height: 200px;
  z-index: 6;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.xoo-wsc-header .xoo-wsch-text {
  position: absolute;
  left: 0;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
}
.xoo-wsc-header span.xoo-wsch-close {
  font-size: 22px;
}

/*side cart footer*/
.xoo-wsc-footer {
  border-top: 1px solid black;
}
.xoo-wsc-footer .xoo-wsc-ft-amt.xoo-wsc-ft-amt-subtotal {
  display: flex;
}
.xoo-wsc-footer .xoo-wsc-ft-amt-label {
  font-weight: 400;
  font-size: 14px;
}
.xoo-wsc-footer .xoo-wsc-ft-amt-label::after {
  content: "";
}

/*empty cart style*/
.xoo-wsc-empty-cart .button, .xoo-wsc-ft-buttons-cont .xoo-wsc-ft-btn {
  text-transform: uppercase;
  background: black !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
  height: 30px;
  color: white !important;
  padding-top: 10px !important;
}

/*product page*/
/*gallery*/
#gallery-wrapper {
  height: 80vh;
}
#gallery-wrapper .swiper-container-gallery {
  width: 100%;
  height: 100%;
  position: relative;
}
#gallery-wrapper .swiper-container-gallery .swiper-wrapper {
  width: 90%;
}
#gallery-wrapper .swiper-container-gallery .swiper-wrapper .swiper-slide, #gallery-wrapper .swiper-container-gallery .swiper-wrapper .swiper-slide-active {
  width: 100% !important;
}
#gallery-wrapper .swiper-container-gallery .swiper-wrapper .swiper-slide img, #gallery-wrapper .swiper-container-gallery .swiper-wrapper .swiper-slide-active img {
  height: 100%;
  object-fit: cover;
}
#gallery-wrapper .swiper-container-gallery .sh-gal-btn {
  width: 10%;
  height: 100%;
  right: 0;
  position: absolute;
  z-index: 5;
  outline: none !important;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  #gallery-wrapper .swiper-container-gallery .sh-gal-btn {
    width: 40px;
    right: 10px;
  }
}
#gallery-wrapper .swiper-container-gallery .sh-gal-btn img {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 45px;
}
#gallery-wrapper .swiper-container-gallery .swiper-pagination {
  left: 0;
  right: 0;
  bottom: 8px;
}
#gallery-wrapper .swiper-container-gallery .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
#gallery-wrapper .sh-gal-swiper {
  overflow: hidden;
}

/*title*/
.product-sum .product_title {
  color: black;
  line-height: 1.2;
  font-size: 38px;
  font-weight: bold;
}
.product-sum .price bdi {
  color: black;
  font-size: 25px;
}

.after-summary {
  color: black;
}
.after-summary .product-basic-description {
  margin: 50px 0px;
  font-size: 16px;
  line-height: 1.2;
}

.entry-summary .woocommerce-variation-price {
  margin-bottom: 40px;
}

/*only for bastards match*/
#product-800 .variations .sh-size-opt {
  text-transform: none;
  padding: 2px;
}
@media (max-width: 576px) {
  #product-800 .variations .sh-size-opt:nth-child(5), #product-800 .variations .sh-size-opt:nth-child(8), #product-800 .variations .sh-size-opt:nth-child(11) {
    border-left: 1px solid black;
  }
}
@media (min-width: 424px) and (max-width: 523px) {
  #product-800 .variations .sh-size-opt:nth-child(6), #product-800 .variations .sh-size-opt:nth-child(10) {
    border-left: 1px solid black;
  }
}
@media (min-width: 524px) and (max-width: 623px) {
  #product-800 .variations .sh-size-opt:nth-child(7), #product-800 .variations .sh-size-opt:nth-child(12) {
    border-left: 1px solid black;
  }
}
@media (min-width: 768px) and (max-width: 847px) {
  #product-800 .variations .sh-size-opt:nth-child(5), #product-800 .variations .sh-size-opt:nth-child(8), #product-800 .variations .sh-size-opt:nth-child(11) {
    border-left: 1px solid black;
  }
}
@media (min-width: 848px) and (max-width: 991px) {
  #product-800 .variations .sh-size-opt:nth-child(6), #product-800 .variations .sh-size-opt:nth-child(10) {
    border-left: 1px solid black;
  }
}
@media (min-width: 992px) and (max-width: 1276px) {
  #product-800 .variations .sh-size-opt:nth-child(5), #product-800 .variations .sh-size-opt:nth-child(8), #product-800 .variations .sh-size-opt:nth-child(11) {
    border-left: 1px solid black;
  }
}
@media (min-width: 1276px) {
  #product-800 .variations .sh-size-opt:nth-child(6), #product-800 .variations .sh-size-opt:nth-child(10) {
    border-left: 1px solid black;
  }
}
@media (min-width: 1572px) and (max-width: 1871px) {
  #product-800 .variations .sh-size-opt:nth-child(7), #product-800 .variations .sh-size-opt:nth-child(12) {
    border-left: 1px solid black;
  }
}
@media (min-width: 1872px) {
  #product-800 .variations .sh-size-opt:nth-child(8) {
    border-left: 1px solid black;
  }
}
#product-800 .variations .sh-size-opt.selected {
  padding: 2px;
}
#product-800 .single_variation_wrap {
  margin-top: 26px !important;
}

.variations .label {
  padding-bottom: 5px;
}
.variations .value {
  min-height: 68px;
}
.variations .select2-container {
  max-width: 220px !important;
}
.variations .select2-container .select2-selection {
  background-color: white !important;
  border: 1px solid black !important;
  border-radius: 0px;
  font-size: 16px;
  height: 36px !important;
  font-weight: bold;
  padding: 6px 4px;
  outline: none;
  /* text-decoration: underline; */
}
.variations .select2-container .select2-selection .select2-selection__arrow b {
  border-color: black transparent transparent transparent !important;
  border-width: 6px 4px 0 4px !important;
  margin-top: 2px;
}
.variations .select2-container .select2-selection--single .select2-selection__rendered {
  color: black;
  line-height: 1.5;
  padding-left: 4px;
}
.variations .sh-size-opt, .variations .sh-size-opt.selected {
  color: black;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  text-transform: lowercase;
  outline: none;
  line-height: normal;
  max-width: 100px;
  min-width: 80px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.variations .sh-size-opt.first {
  border-left: 1px solid black;
}
.variations .sh-size-opt.selected {
  background: #EDEDED;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .variations .sh-size-opt, .variations .sh-size-opt.selected {
    font-size: 14px;
    padding: 2px 5px;
    min-width: auto;
  }
}
.variations .sh-tag-opt, .variations .sh-tag-opt.selected {
  color: black;
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  max-width: 200px;
  min-width: 120px;
  text-align: center;
  font-weight: 500;
  text-transform: lowercase;
  outline: none;
  line-height: normal;
  padding: 10px 15px;
  font-size: 16px;
}
.variations .sh-tag-opt.first {
  border-left: 1px solid black;
}
.variations .sh-tag-opt.selected {
  background: #EDEDED;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .variations .sh-tag-opt, .variations .sh-tag-opt.selected {
    font-size: 14px;
  }
}

.select2-dropdown {
  border: none;
}
@media (max-width: 576px) {
  .select2-dropdown {
    top: 0px;
  }
}

.sh-product-select .select2-results {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.sh-product-select .select2-results .select2-results__options {
  min-height: auto;
  max-height: 300px;
}
.sh-product-select .select2-results .select2-results__options .select2-results__option {
  background-color: white !important;
  color: black !important;
  height: 30px !important;
  padding-left: 8px;
}
.sh-product-select .select2-results .select2-results__options .select2-results__option:hover {
  background-color: lightgray !important;
}

#pa_colour, p.stock.out-of-stock, #pa_size, #pa_name-tag {
  display: none;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMy4yNDUgNGwtMTEuMjQ1IDE0LjM3NC0xMS4yMTktMTQuMzc0LS43ODEuNjE5IDEyIDE1LjM4MSAxMi0xNS4zOTEtLjc1NS0uNjA5eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  width: 100%;
  background-color: transparent !important;
  color: black;
}

/*after variations part / single product page, quantity, add-to-cart, qty increment button applied, out of stock*/
.single_variation_wrap, form.cart {
  margin-top: -15px;
}
@media (min-width: 1200px) {
  .single_variation_wrap, form.cart {
    margin-top: 0px;
  }
}
.single_variation_wrap .label, form.cart .label {
  padding-bottom: 5px;
}
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id), form.cart .qib-container:not(#qib_id):not(#qib_id) {
  height: 40px !important;
  display: flex;
  /* Firefox */
}
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) .minus, .single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) .plus, .single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) .quantity input.qty:not(#qib_id):not(#qib_id), form.cart .qib-container:not(#qib_id):not(#qib_id) .minus, form.cart .qib-container:not(#qib_id):not(#qib_id) .plus, form.cart .qib-container:not(#qib_id):not(#qib_id) .quantity input.qty:not(#qib_id):not(#qib_id) {
  background: white;
  border: none;
  color: black !important;
}
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) .input-text.qty, form.cart .qib-container:not(#qib_id):not(#qib_id) .input-text.qty {
  background: #EDEDED !important;
  height: 40px !important;
  outline: none !important;
  width: 40px;
  border: 1px solid black !important;
  -webkit-border-radius: 0;
}
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) input::-webkit-outer-spin-button,
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) input::-webkit-inner-spin-button, form.cart .qib-container:not(#qib_id):not(#qib_id) input::-webkit-outer-spin-button,
form.cart .qib-container:not(#qib_id):not(#qib_id) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.single_variation_wrap .qib-container:not(#qib_id):not(#qib_id) input[type=number], form.cart .qib-container:not(#qib_id):not(#qib_id) input[type=number] {
  -moz-appearance: textfield;
}
.single_variation_wrap .single_add_to_cart_button, form.cart .single_add_to_cart_button {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  border-right: 2px solid black !important;
  font-weight: bold !important;
  font-size: 16px !important;
  text-transform: uppercase;
  margin-top: 40px !important;
  margin-left: 0px !important;
  color: black !important;
  padding: 0px 15px 0px 0px !important;
  height: 24px !important;
}

/*get notified button for out of stock on single product page*/
.product-sum .sh-out-of-stock {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 30px 0px;
  font-weight: bolder;
  font-size: 12px;
}
.product-sum .paoc-popup-link {
  border-right: 2px solid black !important;
  font-weight: bold !important;
  font-size: 16px !important;
  text-transform: uppercase;
  margin-top: 40px !important;
  padding: 0px 15px 0px 0px !important;
  height: 24px !important;
}

/*
POPUP ON SINGLE PAGE- GET NOTIFIED
*/
.paoc-cb-popup .paoc-credit-wrp {
  display: none !important;
}

.paoc-popup-overlay-542 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap {
  max-height: 400px !important;
  height: 400px;
  display: flex;
  align-items: flex-end;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr {
  margin-bottom: 50px;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .paoc-popup-mheading {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  height: 30px;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .paoc-popup-content {
  font-size: 15px;
  color: black;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .newsletter-button input {
  color: black;
  border: none;
  border-right: 2px solid black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 10px 5px 0px;
  background-color: transparent;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .your-email input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  outline: none;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .your-email input::-webkit-input-placeholder {
  color: transparent;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-close-popup {
  right: 40px;
  top: 40px;
  background: url("./assets/popup-close-black.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
}
.paoc-cb-popup.paoc-cb-popup-542 .paoc-close-popup svg {
  display: none;
}

/*
POPUP on front page
*/
.paoc-popup-overlay-555 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap {
  max-height: 400px !important;
  height: 400px;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg {
  background-image: url("./assets/607dcaf39c72b1e91822e90b_front-page-slider_1.jpg");
  background-size: cover;
  max-height: 400px;
  background-position: center;
  height: 400px;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr {
  margin: auto 0px 50px 0px;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .paoc-popup-mheading {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  height: 30px;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .paoc-popup-sheading {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .mailerlite-form-title {
  display: none;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr .mailerlite-subscribe-submit {
  color: white;
  border-right: 2px solid white;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-popup-inr-wrap .paoc-popup-con-bg .paoc-popup-inr #mailerlite-1-field-email {
  margin-top: 20px;
  background-color: transparent;
  color: white !important;
  border-color: white;
  width: 300px;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-close-popup {
  right: 40px;
  top: 40px;
  background: url("./assets/popup-close.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
}
.paoc-cb-popup.paoc-cb-popup-555 .paoc-close-popup svg {
  display: none;
}

/*
COOKIES NOTICE
*/
.cookie-notice-visible {
  border-top: 1px solid black;
  font-size: 12px;
}
.cookie-notice-visible .cookie-notice-container {
  padding: 10px;
  height: 60px;
  display: flex !important;
  font-family: "Bahnschrift";
}
@media (min-width: 576px) {
  .cookie-notice-visible .cookie-notice-container {
    justify-content: space-evenly;
    height: 50px;
  }
}
.cookie-notice-visible .cookie-notice-container .cn-text-container {
  text-align: left;
  font-weight: 500;
}
@media (min-width: 576px) {
  .cookie-notice-visible .cookie-notice-container .cn-text-container {
    margin-bottom: 0px !important;
    display: flex !important;
    align-items: flex-end;
  }
}
.cookie-notice-visible .cookie-notice-container .cn-text-container .cn-privacy-policy-link.cookies-button {
  text-decoration: underline;
  color: #afafaf;
}
@media (min-width: 576px) {
  .cookie-notice-visible .cookie-notice-container .cn-text-container .cn-privacy-policy-link.cookies-button {
    padding-left: 14px;
  }
}
.cookie-notice-visible .cookie-notice-container .cn-buttons-container {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .cookie-notice-visible .cookie-notice-container .cn-buttons-container {
    width: 120px;
  }
}
.cookie-notice-visible .cookie-notice-container .cn-buttons-container .cn-set-cookie {
  border-right: 2px solid black;
  height: 20px;
  font-size: 12px;
  padding-right: 5px;
}
@media (min-width: 576px) {
  .cookie-notice-visible .cookie-notice-container .cn-buttons-container .cn-set-cookie {
    font-size: 14px;
    margin: 0px !important;
  }
}
.cookie-notice-visible .cookie-notice-container .cn-close-icon {
  display: none !important;
}

/*additional description on single product page*/
.additional-description div {
  display: flex;
  align-items: flex-end;
}
@media (min-width: 576px) and (max-width: 1200px) {
  .additional-description div {
    height: 400px;
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .additional-description div {
    height: 500px;
  }
  .additional-description div:nth-child(3), .additional-description div:nth-child(4) {
    margin-top: 100px;
  }
}
.additional-description div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.additional-description .description-text {
  text-align: justify;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .additional-description .description-text {
    padding: 20px 10px 40px 10px;
  }
}

/*in-detail single product page*/
.in-detail {
  margin-top: 70px;
}
.in-detail .in-detail_line {
  width: 30px;
  height: 2px;
  margin-top: 18px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  background-color: #000;
}

/*checkout product data*/
.checkout_product-data .checkout_product-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.checkout_product-data .checkout_product-item .checkout_product-left {
  display: flex;
}
.checkout_product-data .checkout_product-item .checkout_product-left img {
  width: 60px;
}
.checkout_product-data .checkout_product-item .checkout_product-left .checkout_product-info {
  padding-left: 15px;
}
.checkout_product-data .checkout_product-item .checkout_product-left .variation_checkout-title, .checkout_product-data .checkout_product-item .checkout_product-left .variation_checkout-quantity {
  font-size: 14px;
}

.woocommerce-checkout-review-order {
  /*review table*/
}
.woocommerce-checkout-review-order #payment {
  background: transparent;
  border-radius: 0px;
  padding: 20px 0px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child {
  padding: 0px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .shop_table {
  border: none !important;
  margin: 0px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .shop_table tbody th {
  font-weight: 500 !important;
  font-size: 14px;
  border-top: none !important;
  padding: 4px 20px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .shop_table tbody td {
  font-size: 14px;
  border-top: none !important;
  padding: 0px 20px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .shop_table tbody #shipping_method {
  text-align: right;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .checkout_coupon {
  border-radius: 0 !important;
  margin: 0px 20px !important;
  /*discount code text*/
}
.woocommerce-checkout-review-order #payment .form-row:first-child .checkout_coupon p {
  font-size: 14px;
  font-weight: bold;
  margin: 0px !important;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .checkout_coupon .input-text {
  height: 38px;
  width: 125px;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .checkout_coupon .form-row-last {
  display: flex;
  justify-content: end;
}
.woocommerce-checkout-review-order #payment .form-row:first-child .checkout_coupon .form-row-last .button {
  padding: 9px 15px !important;
  height: 38px;
  background-color: #000;
  border-radius: 0;
  font-weight: normal;
  color: #ffffff;
}

.checkout #place_order {
  width: 100%;
  background-color: #000;
  font-size: 14px;
  font-weight: normal;
  border-radius: 0;
}

/*empty cart message*/
.woocommerce-message {
  border: none !important;
  background-color: transparent !important;
}
.woocommerce-message .cart-empty.woocommerce-info {
  color: black !important;
  background-color: transparent !important;
  border: none !important;
}

/*checkout wrapper*/
.wrapper-box {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
.wrapper-box .wrapper-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
}
.wrapper-box .wrapper-heading h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.wrapper-box .wrapper-heading span {
  font-size: 14px;
}
.wrapper-box .single-field-wrapper p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}
.wrapper-box .single-field-wrapper p input, .wrapper-box .single-field-wrapper p .select2 {
  width: 100%;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none !important;
  padding: 6px;
  margin-bottom: 16px;
}
.wrapper-box .single-field-wrapper p label {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 8px;
}
.wrapper-box .single-field-wrapper .request-mail {
  font-size: 17px;
  font-weight: bold;
  padding-top: 40px;
  line-height: 1.2;
}
.wrapper-box .inner-wrap {
  padding: 20px;
}
.wrapper-box .select2-container--default .select2-selection--single {
  border: none;
}
.wrapper-box .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
}
.wrapper-box .payment_methods {
  padding: 20px;
  margin-left: 20px;
}

.email-wrapper .single-field-wrapper, .phone-wrapper .single-field-wrapper {
  padding: 20px;
}

.woocommerce-notice.woocommerce-info, .woocommerce-error {
  border-top-color: #e6e6e6 !important;
  border-width: 1px;
  background-color: transparent;
  padding: 20px !important;
  font-size: 14px;
  color: black;
}
.woocommerce-notice.woocommerce-info::before, .woocommerce-error::before {
  content: "";
}

/*order details, thank you for your order*/
.woocommerce-order-details .woocommerce-table__line-item .wc-item-meta p {
  line-height: inherit;
}
.woocommerce-order-details .shipped_via {
  display: none;
}

.wpcf7-response-output {
  display: none !important;
}

.mail-img {
  width: 200px !important;
}

#header_wrapper {
  padding: 36px 48px 0px 48px !important;
}

/*single post page*/
.post-class {
  margin-top: 80px;
}
.post-class .post-container {
  display: flex;
  align-items: flex-end;
  height: 80vh;
}
.post-class .post-container .img-post {
  width: 60%;
  height: 70%;
}
@media (max-width: 576px) {
  .post-class .post-container .img-post {
    width: 50%;
  }
}
.post-class .post-container .img-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post-class .post-container .post-header {
  width: 40%;
  padding-left: 20px;
}
@media (max-width: 576px) {
  .post-class .post-container .post-header {
    width: 50%;
  }
}
.post-class .post-container .post-header img {
  width: 90px;
  height: 90px;
}
@media (max-width: 576px) {
  .post-class .post-container .post-header img {
    width: 60px;
    height: 60px;
  }
}
.post-class .post-container .post-header .post-title {
  font-size: 19px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  margin-top: 20px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .post-class .post-container .post-header .post-title {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .post-class .post-container .post-header .post-title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .post-class .post-container .post-header .post-title {
    font-size: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
